<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
			<button class="btn btn-danger float-right" (click)="openModalDelete(templateModelDelete)" >
				<i class="fas fa-trash-alt"></i> Eliminar {{ title }}
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>Editar datos del {{ title }}</h3>
		</div>
		<div class="card-body">
			<form #updateFormCohort="ngForm" (ngSubmit)="onSubmit();" >
				<div class="row">
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_code">Código</label>
						<input type="text" class="form-control" id="input_code" name="input_code" placeholder="Código" #input_code="ngModel" [(ngModel)]="cohort.code" disabled />
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_year">Año</label>
						<input type="text" class="form-control" id="input_year" name="input_year" placeholder="Año" #input_year="ngModel" [(ngModel)]="cohort.year" required pattern="{{ validationsPatterns.number }}" maxlength="4" [ngClass]="{'is-invalid': input_year.touched && !input_year.valid,'is-valid': input_year.valid}" />
						<div *ngIf="input_year.touched && !input_year.valid">
							<div class="invalidtext" *ngIf="input_year.errors.required">Campo requerido.</div>
							<div class="invalidtext" *ngIf="input_year.errors.maxlength">Maximo 4 caracteres.</div>
							<div class="invalidtext" *ngIf="input_year.errors.pattern">Dato invalido, solo se permiten números.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_initialDate">Fecha Inicial</label>
						<input type="text" class="form-control" id="input_initialDate" name="input_initialDate" placeholder="Fecha Inicial" autocomplete="off" #input_initialDate="ngModel" [(ngModel)]="cohort.initialDate" required bsDatepicker [bsConfig]="bsConfig" [bsValue]="cohort.initialDate.date" [ngClass]="{'is-invalid': input_initialDate.touched && !input_initialDate.valid,'is-valid': input_initialDate.valid}" />
						<div *ngIf="input_initialDate.touched && !input_initialDate.valid">
							<div class="invalidtext" *ngIf="input_initialDate.errors.required">Campo requerido.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="inputfinalDate">Fecha final</label>
						<input type="text" class="form-control" id="inputfinalDate" name="inputfinalDate" placeholder="Fecha final" autocomplete="off" #inputfinalDate="ngModel" [(ngModel)]="cohort.finalDate" required bsDatepicker [bsConfig]="bsConfig" [ngClass]="{'is-invalid': inputfinalDate.touched && !inputfinalDate.valid,'is-valid': inputfinalDate.valid}" />
						<div *ngIf="inputfinalDate.touched && !inputfinalDate.valid">
							<div class="invalidtext" *ngIf="inputfinalDate.errors.required">Campo requerido.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
							<label for="input_limit">Limite</label>
							<input type="text" class="form-control" id="input_limit" name="input_limit" placeholder="Limite"
								#input_limit="ngModel" [(ngModel)]="cohort.limit" required pattern="{{ validationsPatterns.number }}" maxlength="2" [ngClass]="{'is-invalid': input_limit.touched && !input_limit.valid,'is-valid': input_limit.valid}"  />
							<div *ngIf="input_limit.touched && !input_limit.valid">
								<div class="invalidtext" *ngIf="input_limit.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_limit.errors.maxlength">Maximo 2 caracteres.</div>
								<div class="invalidtext" *ngIf="input_limit.errors.pattern">Dato invalido, solo se permiten números.</div>
							</div>
						</div>
					<div class="form-group col-xs-12 col-md-3" >
						<label for="input_active">Activo</label>
						<select name="input_active" id="input_active" class="form-control" #input_active="ngModel" [(ngModel)]="cohort.active" required [ngClass]="{'is-invalid': input_active.touched && !input_active.valid,'is-valid': input_active.valid}" >
							<option *ngFor="let active of select_active" [value]="active.value">{{ active.text }}</option>
						</select>
						<div *ngIf="input_active.touched && !input_active.valid">
							<div class="invalidtext" *ngIf="input_active.errors.required">Campo requerido.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!updateFormCohort.form.valid" >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal -->
<ng-template #templateModelDelete>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar {{ title }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group col">
				<p>¿Esta seguro que desea eliminar el registro?</p>
			</div>
			<div class="form-group col">
				<div class="" *ngIf="loading">
					<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
					<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
					{{ msg }}
				</div>
				<div class="alert alert-danger" role="alert" *ngIf="msgError">
					{{ msg }}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
			<button type="button" class="btn btn-danger" (click)="onDelete();" ><i class="fas fa-trash-alt"></i> Eliminar</button>
		</div>
	</div>
</ng-template>