<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<form #formCohort="ngForm" (ngSubmit)="onSubmit();" >
				<div>
					<div class="row">
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_code">Código</label>
							<input type="text" class="form-control" id="input_code" name="input_code" placeholder="Código" #input_code="ngModel" [(ngModel)]="cohort.code" required />
							<span *ngIf="!input_code.valid && input_code.touched">Código invalido</span>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_year">Año</label>
							<input type="text" class="form-control" id="input_year" name="input_year" placeholder="Año" #input_year="ngModel" [(ngModel)]="cohort.year" required />
							<span *ngIf="!input_year.valid && input_year.touched">Año invalido</span>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_initialDate">Fecha Inicial</label>
							<input type="text" class="form-control" id="input_initialDate" name="input_initialDate" placeholder="Fecha Inicial" #input_initialDate="ngModel" [(ngModel)]="cohort.initialDate" required bsDatepicker [bsConfig]="bsConfig" />
							<span *ngIf="!input_initialDate.valid && input_initialDate.touched">Fecha Inicial invalido</span>
						</div>				
						<div class="form-group col-xs-12 col-md-3">
							<label for="inputfinalDate">Fecha final</label>
							<input type="text" class="form-control" id="inputfinalDate" name="inputfinalDate" placeholder="Fecha final" #inputfinalDate="ngModel" [(ngModel)]="cohort.finalDate" required bsDatepicker [bsConfig]="bsConfig" />
							<span *ngIf="!inputfinalDate.valid && inputfinalDate.touched">Fecha final invalido</span>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_limit">Limite</label>
							<input type="text" class="form-control" id="input_limit" name="input_limit" placeholder="Limite"
								#input_limit="ngModel" [(ngModel)]="cohort.limit" required  />
							<span *ngIf="!input_limit.valid && input_limit.touched">Limite final invalido</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!formCohort.form.valid" >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
