<div class="container">
	<h3>Cambiar contraseña</h3>
	<form #updateFormUserChangePw="ngForm" (ngSubmit)="onSubmit();" >
		<div>
			<div class="row">
				<div class="form-group col-sm-12 col-md-3">
					<label for="input_old_pass">Contraseña actual</label>
					<input type="password" class="form-control" id="input_old_pass" name="input_old_pass" #input_old_pass="ngModel" [(ngModel)]="form.password_old" placeholder="Contraseña actual" required />
					<span *ngIf="!input_old_pass.valid && input_old_pass.touched">El campo no debe estar vacio</span>
				</div>
				<div class="form-group col-sm-12 col-md-3">
					<label for="input_new_pass">Contraseña nueva</label>
					<input type="password" class="form-control" id="input_new_pass" name="input_new_pass" placeholder="Contraseña nueva" #input_new_pass="ngModel" [(ngModel)]="form.password_new" required />
					<span *ngIf="!input_new_pass.valid && input_new_pass.touched">El campo no debe estar vacio</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-md-2">
				<button type="submit" class="btn btn-primary btn-block" [disabled]="!updateFormUserChangePw.form.valid" >
					Guardar
				</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
			Contraseña actualizada exitosamente.
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
			La contraseña actual no coincide.
		</div>
	</div>
</div>
