<div class="container">
	<div class="row botonera" *ngIf="identity != null" >
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<form #Formstudent="ngForm" (ngSubmit)="onSubmit(); " >
				<div>
					<h5 class="">Datos de Personales</h5>
					<div class="row">
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_nombre">Primer nombre</label>
							<input type="text" #input_nombre="ngModel" class="form-control" name="input_nombre" placeholder="Primer nombre"  [(ngModel)]="student.name" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_nombre.touched && !input_nombre.valid,'is-valid': input_nombre.valid}" />
							<div *ngIf="input_nombre.touched && !input_nombre.valid">
								<div class="invalidtext" *ngIf="input_nombre.errors.required" >Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_nombre.errors.minlength" >Minimo 4 caracteres.</div>
								<div class="invalidtext" *ngIf="input_nombre.errors.pattern" >Solo letras<br>Debe tener mayuscula solo al principio.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_nombre2">Segundo nombre</label>
							<input type="text" class="form-control" name="input_nombre2" placeholder="Segundo nombre" #input_nombre2="ngModel" [(ngModel)]="student.name2" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_nombre2.touched && !input_nombre2.valid,'is-valid': input_nombre2.valid}" />
							<div *ngIf="input_nombre2.touched && !input_nombre2.valid">
								<div class="invalidtext" *ngIf="input_nombre2.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_nombre2.errors.minlength">Minimo 4 caracteres.</div>
								<div class="invalidtext" *ngIf="input_nombre2.errors.pattern">Solo letras; Mayuscula al principio.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_apellido">Primer apellido</label>
							<input type="text" class="form-control" name="input_apellido" placeholder="Primer apellido" #input_apellido="ngModel" [(ngModel)]="student.surname" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_apellido.touched && !input_apellido.valid,'is-valid': input_apellido.valid}" />
							<div *ngIf="input_apellido.touched && !input_apellido.valid">
								<div class="invalidtext" *ngIf="input_apellido.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_apellido.errors.minlength">Minimo 4 caracteres.</div>
								<div class="invalidtext" *ngIf="input_apellido.errors.pattern">Solo letras; Mayuscula al principio.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_apellido2">Segundo apellido</label>
							<input type="text" class="form-control" name="input_apellido2" placeholder="Segundo apellido" #input_apellido2="ngModel" [(ngModel)]="student.surname2" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_apellido2.touched && !input_apellido2.valid,'is-valid': input_apellido2.valid}" />
							<div *ngIf="input_apellido2.touched && !input_apellido2.valid">
								<div class="invalidtext" *ngIf="input_apellido2.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_apellido2.errors.minlength">Minimo 4 caracteres.</div>
								<div class="invalidtext" *ngIf="input_apellido2.errors.pattern">Solo letras; Mayuscula al principio.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3" >
							<label for="input_cedula">Cédula</label>
							<input type="text" class="form-control" name="input_cedula" placeholder="Cédula" #input_cedula="ngModel" [(ngModel)]="student.identification" required minlength="1" pattern="{{ validationsPatterns.cedula }}" [ngClass]="{'is-invalid': input_cedula.touched && !input_cedula.valid,'is-valid': input_cedula.valid}" />
							<div *ngIf="input_cedula.touched && !input_cedula.valid">
								<div class="invalidtext" *ngIf="input_cedula.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_cedula.errors.minlength">Minimo 1 caracter.</div>
								<div class="invalidtext" *ngIf="input_cedula.errors.pattern">Formato invalido, ejem: 00000000.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_telefono">Teléfono</label>
							<input type="text" class="form-control" name="input_telefono" placeholder="Teléfono" #input_telefono="ngModel" [(ngModel)]="student.phone" required pattern="{{ validationsPatterns.phone }}" [ngClass]="{'is-invalid': input_telefono.touched && !input_telefono.valid,'is-valid': input_telefono.valid}" />
							<div *ngIf="input_telefono.touched && !input_telefono.valid">
								<div class="invalidtext" *ngIf="input_telefono.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_telefono.errors.pattern">Formato invalido, ejem: 04142223331.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_cohort">Curso</label>
							<select name="input_cohort" class="form-control" #input_cohort="ngModel" [(ngModel)]="student.cohort" required placeholder="Curso" [ngClass]="{'is-invalid': input_cohort.touched && !input_cohort.valid,'is-valid': input_cohort.valid}" >
								<option *ngFor="let cohort of cohorts" [value]="cohort.value">{{ cohort.text }} - {{ cohort.year }}</option>
							</select>
							<div *ngIf="input_cohort.touched && !input_cohort.valid">
								<div class="invalidtext" *ngIf="input_cohort.errors.required">Campo requerido.</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h5>Datos de Usuario</h5>
					<div class="row">
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_usuario">Usuario</label>
							<input type="text" class="form-control" name="input_usuario" placeholder="Usuario" #input_usuario="ngModel" [(ngModel)]="student.login" required  minlength="5" pattern="{{ validationsPatterns.user }}" [ngClass]="{'is-invalid': input_usuario.touched && !input_usuario.valid,'is-valid': input_usuario.valid}" />
							<div *ngIf="input_usuario.touched && !input_usuario.valid">
								<div class="invalidtext" *ngIf="input_usuario.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_usuario.errors.minlength">Minimo 5 caracteres.</div>
								<div class="invalidtext" *ngIf="input_usuario.errors.pattern">Formato invalido, solo se permite: "_", números y letras.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_email">Correo</label>
							<input type="email" class="form-control" name="input_email" placeholder="Correo" #input_email="ngModel" [(ngModel)]="student.email" required pattern="{{ validationsPatterns.email }}" [ngClass]="{'is-invalid': input_email.touched && !input_email.valid,'is-valid': input_email.valid}" />
							<div *ngIf="input_email.touched && !input_email.valid">
								<div class="invalidtext" *ngIf="input_email.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_email.errors.pattern">Formato invalido, ejem: usuario@usuario.com .</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_password">Contraseña</label>
							<input type="password" class="form-control" name="input_password" placeholder="Contraseña" #input_password="ngModel" [(ngModel)]="student.password" required  minlength="8" pattern="{{ validationsPatterns.password }}" [ngClass]="{'is-invalid': input_password.touched && !input_password.valid,'is-valid': input_password.valid}" />
							<div *ngIf="input_password.touched && !input_password.valid">
								<div class="invalidtext" *ngIf="input_password.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_password.errors.minlength">Minimo 8 caracteres.</div>
								<div class="invalidtext" *ngIf="input_password.errors.pattern">Formato invalido, se requiere: Una letra mayúscula, una letra minúscula, un número y un carácter especial.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!Formstudent.form.valid" >
							<i class="fas fa-user-plus"></i> Inscribir
						</button>
					</div>
					<div class="form-group col-xs-12 col-md-2" *ngIf="identity == null">
						<button type="button" class="btn btn-default btn-block" (click)="onLoginBack()" >
							<i class="fas fa-ban"></i> Cancelar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>