<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<h3>Registro de Estudiante</h3>
	<form #Formstudent="ngForm" (ngSubmit)="onSubmit(); Formstudent.reset();" >
		<div>
			<h5>Datos de Personales</h5>
			<div class="row">
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_nombre">Primer nombre</label>
					<input type="text" class="form-control" id="input_nombre" name="input_nombre" placeholder="Primer nombre" #input_nombre="ngModel" [(ngModel)]="student.name" required />
					<span *ngIf="!input_nombre.valid && input_nombre.touched">Nombre invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_nombre2">Segundo nombre</label>
					<input type="text" class="form-control" id="input_nombre2" name="input_nombre2" placeholder="Segundo nombre" #input_nombre2="ngModel" [(ngModel)]="student.name2" required />
					<span *ngIf="!input_nombre2.valid && input_nombre2.touched">Nombre invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_apellido">Primer apellido</label>
					<input type="text" class="form-control" id="input_apellido" name="input_apellido" placeholder="Primer apellido" #input_apellido="ngModel" [(ngModel)]="student.surname" required />
					<span *ngIf="!input_apellido.valid && input_apellido.touched">Apellido invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_apellido2">Segundo apellido</label>
					<input type="text" class="form-control" id="input_apellido2" name="input_apellido2" placeholder="Segundo apellido" #input_apellido2="ngModel" [(ngModel)]="student.surname2" required />
					<span *ngIf="!input_apellido2.valid && input_apellido2.touched">Apellido invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3" >
					<label for="input_cedula">Cedula</label>
					<input type="text" class="form-control" id="input_cedula" name="input_cedula" placeholder="Nombre" #input_cedula="ngModel" [(ngModel)]="student.identification" required />
					<span *ngIf="!input_cedula.valid && input_cedula.touched">Cedula invalida</span>
				</div>
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_telefono">Teléfono</label>
					<input type="text" class="form-control" id="input_telefono" name="input_telefono" placeholder="Teléfono" #input_telefono="ngModel" [(ngModel)]="student.phone" required />
					<span *ngIf="!input_telefono.valid && input_telefono.touched">Teléfono invalido</span>
				</div>
			</div>
		</div>
		<div>
			<h5>Datos de Usuario</h5>
			<div class="row">
				<div class="form-group col-sm-12 col-md-3">
					<label for="input_usuario">Usuario</label>
					<input type="text" class="form-control" id="input_usuario" name="input_usuario" placeholder="Usuario" #input_usuario="ngModel" [(ngModel)]="student.login" />
				</div>
				<div class="form-group col-sm-12 col-md-3">
					<label for="input_email">Correo</label>
					<input type="email" class="form-control" id="input_email" name="input_email" placeholder="Correo" #input_email="ngModel" [(ngModel)]="student.email" required />
					<span *ngIf="!input_email.valid && input_email.touched">Email invalido</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-md-2">
				<button type="submit" class="btn btn-primary btn-block" [disabled]="!Formstudent.form.valid" >
					<i class="fas fa-save"></i> Guardar
				</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
			Estudiante registrado exitosamente.
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
			Error al registrar.
		</div>
	</div>
</div>