<div class="card bg-light card-shadow">
    <div class="card-header">
        <div style="float: left;">
            <h5>{{ title }}</h5>
        </div>
        <div class="" style="float: right;">
            <button type="button" class="btn btn-primary" (click)="openModalInscription(templateModelInscription)"  ><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="card-body">
        <table datatable class="table table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
                <tr>
                    <th scope="col">Cohorte</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="subjectstudent?.length > 0; else templatenot">
                <tr *ngFor="let subject of subjectstudent">
                    <td>{{ subject.cohort }}</td>
                    <td>{{ subject.aproved }}</td>
                    <td class="table-text-center">{{ subject.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #templatenot>
    <tbody>
        <tr>
            <th colspan="3">No tiene cursos inscritos</th>
        </tr>
    </tbody>
</ng-template>

<ng-template #templateModelInscription>
    <div class="modal-content">
        <form #formPreInscription="ngForm" (ngSubmit)="onPreInscription(); formPreInscription.reset();" >
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Pre-Inscribir</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group col">
                <div class="form-group col">
                    <label for="select_cohorts">Cohorte</label>
                    <select name="select_cohorts" id="select_cohorts" class="form-control" #select_cohorts="ngModel" [(ngModel)]="cohort" required >
                        <option *ngFor="let cohort of cohorts" [value]="cohort.value">{{ cohort.text }}</option>
                    </select>
                    <div *ngIf="select_cohorts.touched && !select_cohorts.valid">
                        <div class="invalidtext" *ngIf="select_cohorts.errors.required">Campo requerido.</div>
                    </div>
                </div>
                <div class="" *ngIf="loading">
                    <img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
                    <p style="float:left;">&nbsp;&nbsp;Enviando...</p>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
                    {{ msg }}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="msgError">
                    {{ msg }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="!formPreInscription.form.valid"  ><i class="fas fa-plus"></i> Pre-inscribir</button>
        </div>
        </form>
    </div>
</ng-template>

<ng-template #templateModelDesInscription>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Desincribir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col">
                    <p>¿Esta seguro que desincribir?</p>
                </div>
                <div class="" *ngIf="loading">
                    <img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
                    <p style="float:left;">&nbsp;&nbsp;Enviando...</p>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
                    {{ msg }}
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="msgError">
                    {{ msg }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-ban"></i> No</button>
                <button type="button" class="btn btn-danger" (click)="onDesInscription()" ><i class="fas fa-trash-alt"></i> Si</button>
            </div>
        </div>
    </ng-template>