<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
			<button class="btn btn-danger float-right" (click)="openModalDelete(templateModelDelete)" >
				<i class="fas fa-trash-alt"></i> Eliminar {{ title }}
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>Editar datos de {{ title }}</h3>
		</div>
		<div class="card-body">
			<form #updateFormCohort="ngForm" (ngSubmit)="onSubmit();" >
				<div>
					<div class="row">
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_edifice">Edifico</label>
							<input type="text" class="form-control" id="input_edifice" name="input_edifice" placeholder="Edifico" #input_edifice="ngModel" [(ngModel)]="classroom.edifice" required pattern="{{ validationsPatterns.codes }}" [ngClass]="{'is-invalid': input_edifice.touched && !input_edifice.valid,'is-valid': input_edifice.valid}" />
							<div *ngIf="input_edifice.touched && !input_edifice.valid">
								<div class="invalidtext" *ngIf="input_edifice.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_edifice.errors.pattern">Dato invalido, solo se permite: "-", números y letras
									mayusculas.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_floor">Piso</label>
							<input type="text" class="form-control" id="input_floor" name="input_floor" placeholder="Piso" #input_floor="ngModel" [(ngModel)]="classroom.floor" maxlength="2" required pattern="{{ validationsPatterns.number }}" [ngClass]="{'is-invalid': input_floor.touched && !input_floor.valid,'is-valid': input_floor.valid}" />
							<div *ngIf="input_floor.touched && !input_floor.valid">
								<div class="invalidtext" *ngIf="input_floor.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_floor.errors.maxlength">Minimo 2 caracteres.</div>
								<div class="invalidtext" *ngIf="input_floor.errors.pattern">Dato invalido, solo se permiten números.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_name">Nombre</label>
							<input type="text" class="form-control" id="input_name" name="input_name" placeholder="Nombre" #input_name="ngModel" [(ngModel)]="classroom.name" required pattern="{{ validationsPatterns.codes }}" [ngClass]="{'is-invalid': input_name.touched && !input_name.valid,'is-valid': input_name.valid}" />
							<div *ngIf="input_name.touched && !input_name.valid">
								<div class="invalidtext" *ngIf="input_name.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_name.errors.pattern">Dato invalido, solo se permite: "-", números y
									letras mayusculas.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!updateFormCohort.form.valid" >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<ng-template #templateModelDelete>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar {{ title }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group col">
				<p>¿Esta seguro que desea eliminar el registro?</p>
			</div>
			<div class="form-group col">
				<div class="" *ngIf="loading">
					<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
					<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
					{{ msg }}
				</div>
				<div class="alert alert-danger" role="alert" *ngIf="msgError">
					{{ msg }}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
			<button type="button" class="btn btn-danger" (click)="onDelete();" ><i class="fas fa-trash-alt"></i> Eliminar</button>
		</div>
	</div>
</ng-template>