<div class="container">
	<h3>{{ title }}</h3>
	<div>
		<table datatable class="table table-bordered table-hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>Código</th>
					<th>Año</th>
					<th>Inscritos/Limite</th>
					<th>Inicio</th>
					<th>Fin</th>
					<th></th>
				</tr>
			</thead>
			<tbody *ngIf="students?.length != 0">
				<tr *ngFor="let cohort of cohorts">
					<td>{{ cohort.code }}</td>
					<td>{{ cohort.year }}</td>
					<td>{{ cohort.inscriptions }}/{{ cohort.limit }}</td>
					<td>{{ cohort.initial.date | date : 'dd-MM-y h:mm a' }}</td>
					<td>{{ cohort.final.date | date : 'dd-MM-y h:mm a' }}</td>
					<td class="table-text-center">{{ cohort.id }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
			{{ msg }}
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
			{{ msg }}
		</div>
	</div>
</div>