<div class="container">
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<table datatable class="table table-bordered table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
				<thead>
					<tr>
						<th>Código</th>
						<th>Año</th>
						<th>Inicio</th>
						<th>Fin</th>
						<th>Inscripción</th>
						<th></th>
					</tr>
				</thead>
				<tbody *ngIf="cohorts?.length != 0">
					<tr *ngFor="let cohort of cohorts">
						<td>{{ cohort.code }}</td>
						<td>{{ cohort.year }}</td>
						<td>{{ cohort.initial.date | date : 'dd-MM-y' }}</td>
						<td>{{ cohort.final.date | date : 'dd-MM-y' }}</td>
						<td>{{ cohort.aproved }}</td>
						<td class="table-text-center">{{ cohort.id }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>