<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<h3>Curso {{ cohort.code }} </h3>
	<div class="row">
		<div class="form-group col-xs-12 col-md-3">
			<label for="input_code">Código</label>
			<input type="text" class="form-control" id="input_code" name="input_code" placeholder="Código" #input_code="ngModel"
				[(ngModel)]="cohort.code" readonly />
			<span *ngIf="!input_code.valid && input_code.touched">Código invalido</span>
		</div>
		<div class="form-group col-xs-12 col-md-3">
			<label for="input_year">Año</label>
			<input type="text" class="form-control" id="input_year" name="input_year" placeholder="Año" #input_year="ngModel"
				[(ngModel)]="cohort.year" required />
			<span *ngIf="!input_year.valid && input_year.touched">Año invalido</span>
		</div>
		<div class="form-group col-xs-12 col-md-3">
			<label for="input_initialDate">Fecha Inicial</label>
			<input type="text" class="form-control" id="input_initialDate" name="input_initialDate" placeholder="Fecha Inicial"
				#input_initialDate="ngModel" [(ngModel)]="cohort.initial" required bsDatepicker [bsConfig]="bsConfig"
				[bsValue]="cohort.initial" />
			
		</div>
		<div class="form-group col-xs-12 col-md-3">
			<label for="inputfinalDate">Fecha final</label>
			<input type="text" class="form-control" id="inputfinalDate" name="inputfinalDate" placeholder="Fecha final"
				#inputfinalDate="ngModel" [(ngModel)]="cohort.final" required bsDatepicker [bsConfig]="bsConfig" [bsValue]="cohort.final" />
			
		</div>
		<div class="form-group col-xs-12 col-md-3">
			<label for="input_active">Activo</label>
			<input type="text" class="form-control" id="input_active" name="input_active" placeholder="Código" #input_active="ngModel"
				[(ngModel)]="cohort.active" readonly />
			<span *ngIf="!input_active.valid && input_active.touched">Activo invalido</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h5>Estudiantes</h5>
			<!-- <button type="button" class="btn btn-primary btn-sm" (click)="openModal(template);" [disabled]="_inscriptions >= cohort.limit" ><i class="fas fa-plus"></i> Inscribir</button> -->
			<p>Inscripciones aprobadas {{ _inscriptions }}</p>
				<div>
					<table datatable class="table table-bordered table-hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Cédula</th>
								<th>Aprobado</th>
								<th></th>
							</tr>
						</thead>
						<tbody *ngIf="students?.length != 0">
							<tr *ngFor="let student of students">
								<td>{{ student.name }}</td>
								<td>{{ student.identification }}</td>
								<td class="table-text-center">{{ student.aproved }}</td>
								<td class="table-text-center">{{ student.id }}</td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
				{{ msg }}
			</div>
			<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
				{{ msg }}
			</div>
		</div>
	</div>
</div>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Inscribir Estudiante</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="input-group col-xs-12 col-md-12">
			<input type="search" class="form-control" id="input_search" name="input_search" placeholder="Cédula" aria-describedby="btn-search" [(ngModel)]="input_search"/>
			<div class="input-group-append">
				<button type="button" class="btn btn-primary"id="btn-search" (click)="onSearchStudent()" ><i class="fas fa-search"></i> Buscar</button>
			</div>
		</div>
		<div class="col-xs-12 col-md-12 margin-btn-top" >
		<form #formStudent="ngForm" (ngSubmit)="onSaveStudent(); formStudent.reset();" >
			<table class="table table-bordered table-hover table-sm">
				<thead>
					<tr>
						<th>Seleccione</th>
						<th>Estudiante</th>
					</tr>
				</thead>
				<tbody *ngIf="respon;else notfindstudent">
					<tr *ngFor="let student of studentss" >
						<td><input type="radio" #input_result_search name="input_result_search" id="input_result_search" [value]="student.id" [(ngModel)]="_id_student" required /></td>
						<td>{{ student.name }}</td>
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary" [disabled]="!formStudent.form.valid" ><i class="fas fa-plus"></i> Inscribir</button>
			<button type="button" class="btn btn-default" (click)="modalRef.hide()"><i class="fas fa-ban"></i> Cancelar</button>
		</form>
		</div>
	</div>
<!-- 	<div class="modal-footer">
	</div> -->
</ng-template>

<ng-template #notfindstudent >
	<tbody>
		<tr>
			<td colspan="2">No se encuentra estudiante</td>
		</tr>
	</tbody>
</ng-template>

<ng-template #templateUnsubscribe>
	<div class="modal-body text-center">
		<h5>¿Esta seguro que desea retirar a este estudiante?</h5>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="onDeleteUnsubscribe()"><i class="fas fa-trash"></i> Si</button>
		<button type="button" class="btn btn-default" (click)="modalDelete.hide()"><i class="fas fa-ban"></i> No</button>
	</div>
</ng-template>

<ng-template #templateAproved>
	<div class="modal-body text-center">
		<h5>¿Esta seguro que desea aprobar la inscripción?</h5>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-success" (click)="onDeleteUnsubscribe()"><i class="fas fa-check"></i> Si</button>
		<button type="button" class="btn btn-default" (click)="modalDelete.hide()"><i class="fas fa-ban"></i> No</button>
	</div>
</ng-template>

<ng-template #templateInscriptions>
	<div class="modal-body">
		<h5 class="text-center">Aprobar inscripción</h5>
		<div>
			<h6>Indique los requisitos entregados por el estudiante.</h6>
		</div>
		<form #f="ngForm">
			<div class="form-check col-xs-12 col-md-12" *ngFor="let requirement of requirements">
				<input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="requirement.selected" /> 
				<label>{{requirement.text}}</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="onAprovedInscription()"><i class="fas fa-check"></i>
			Aprobar</button>
		<button type="button" class="btn btn-default" (click)="modalInscriptions.hide()"><i class="fas fa-ban"></i>
			Cancelar</button>
	</div>
</ng-template>