<div class="container">
	<h3>{{ title }}</h3>
	<div>
		<table datatable class="table table-bordered table-hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Asignatura</th>
					<th>Inscritos/Limite</th>
					<th>Facilitador</th>
					<th></th>
				</tr>
			</thead>
			<tbody *ngIf="students?.length != 0">
				<tr *ngFor="let lection of lections">
					<td>{{ lection.code }}</td>
					<td>{{ lection.subject }}</td>
					<td>{{ lection.inscriptions }}/{{ lection.limit }}</td>
					<td>{{ lection.facilitator }}</td>
					<td class="table-text-center">{{ lection.id }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
			{{ msg }}
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
			{{ msg }}
		</div>
	</div>
</div>