<div class="container">
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ inscription.cohort.code }}</h3>
		</div>
		<div class="card-body">
            <div class="row">
                <div class="form-group col-xs-12 col-md-3">
                    <label for="input_codigo">Código</label>
                    <input type="text" class="form-control" id="input_codigo" name="input_codigo" placeholder="Código" #input_codigo="ngModel" [(ngModel)]="inscription.cohort.code" disabled />
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label for="input_initialDate">Fecha Inicial</label>
                    <input type="text" class="form-control" id="input_initialDate" name="input_initialDate" placeholder="Fecha Inicial" autocomplete="off" #input_initialDate="ngModel" [(ngModel)]="initial" disabled bsDatepicker [bsConfig]="bsConfig" />
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <label for="inputfinalDate">Fecha final</label>
                    <input type="text" class="form-control" id="inputfinalDate" name="inputfinalDate" placeholder="Fecha final" autocomplete="off" #inputfinalDate="ngModel" [(ngModel)]="finals" disabled bsDatepicker [bsConfig]="bsConfig" bsDatepicker [bsConfig]="bsConfig" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="" *ngIf="loading">
                        <img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
                        <p style="float:left;">&nbsp;&nbsp;Enviando...</p>
                    </div>
                    <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
                        {{ msg }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="msgError">
                        {{ msg }}
                    </div>
                </div>
            </div>
		</div>
    </div>
    <div class="row margin-body-top"  >
        <div class="col-xs-12 col-md-8">
            <div class="card bg-light card-shadow">
                <div class="card-header">
                    <h5>Materias</h5>
                </div>
                <div class="card-body">
                    <div class="accordion" id="accordionsubjects">
                            <div *ngFor="let subject of subjects; let i = index;">
                                <a class="btn header-acordion" data-toggle="collapse" [attr.data-target]="'#collpase'+i" aria-expanded="false" >
                                    <span style="float:left;" >{{ subject.name }}</span><span class="" style="float:right;" >Calificación: <b [ngClass]="{'text-success': subject.qualification >= 10,'text-danger': subject.qualification < 10}"> {{ subject.qualification }}</b></span>
                                </a>
                                <div id="collpase{{ i }}" class="collapse" data-parent="#accordionsubjects">
                                    <div class="body-acordion">
                                        <div class="col-xs-12">
                                            <b>Clasificación: </b>{{ subject.nClassificationSubject }}<br>
                                            <b>Tipo: </b>{{ subject.nTypesSubject }}<br>
                                            <b>Descripción: </b>{{ subject.description }}
                                        </div>
                                        <div class="col-xs-12 margin-body-top">
                                            <b>Horario</b>
                                            <table class="table table-bordered table-sm" >
                                                <thead>
                                                    <tr>
                                                        <th>Día</th>
                                                        <th>Hora</th>
                                                        <th>Duración</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let hasday of subject.hassday;" >
                                                        <td>{{ hasday.day }}</td>
                                                        <td>{{ hasday.classTime }}</td>
                                                        <td>{{ hasday.hours }} h</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="card bg-light card-shadow">
                <div class="card-header">
                    <h5>Formatos</h5>
                </div>
                <div class="card-body">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block" (click)="onCertificate()" ><i class="fas fa-certificate"></i> Certificación</button>
                    </div>
                    <div class="col-xs-12 margin-body-top">
                        <button class="btn btn-primary btn-block" (click)="onConstancy()" ><i class="fas fa-file-pdf"></i> Constancia</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>