<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
			<button class="btn btn-danger float-right" (click)="openModalDelete(templateModelDelete)" >
				<i class="fas fa-trash-alt"></i> Eliminar {{ label_input }}
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>Editar datos </h3>
		</div>
		<div class="card-body">
			<form #updateForm="ngForm" (ngSubmit)="onSubmit();" >
				<div class="row">
					<div class="form-group col-sm-12 col-md-3">
						<label for="input_data">{{ label_input }}</label>
						<input type="text" class="form-control" id="input_data" name="input_data" placeholder="{{ label_input }}" #input_data="ngModel" [(ngModel)]="modelconfiguration.name" required  minlength="5" pattern="[a-zA-Z-0-9 _-ÿ\u00f1\u00d1]*" [ngClass]="{'is-invalid': input_data.touched && !input_data.valid,'is-valid': input_data.valid}" />
						<div *ngIf="input_data.touched && !input_data.valid">
							<div class="invalidtext" *ngIf="input_data.errors.required">Campo requerido.</div>
							<div class="invalidtext" *ngIf="input_data.errors.minlength">Minimo 5 caracteres.</div>
							<div class="invalidtext" *ngIf="input_data.errors.pattern">Dato invalido, solo se permite: "_", números y
								letras.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!updateForm.form.valid" >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<ng-template #templateModelDelete>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar {{ label_input }}</h5>
			<button type="button" class="close" data-dismiss="modalDelete" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group col">
				<p>¿Esta seguro que desea eliminar el registro?</p>
			</div>
			<div class="form-group col">
				<div class="" *ngIf="loading">
					<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
					<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
					{{ msg }}
				</div>
				<div class="alert alert-danger" role="alert" *ngIf="msgError">
					{{ msg }}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modalDelete"><i class="fas fa-ban"></i> Cancelar</button>
			<button type="button" class="btn btn-danger" (click)="onDelete();" ><i class="fas fa-trash-alt"></i> Eliminar</button>
		</div>
	</div>
</ng-template>