<div class="container">
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<div style="margin-bottom: 20px;">
				<a [routerLink]="url_register" class="btn btn-primary">Registrar</a>
			</div>
			<table datatable class="table table-bordered table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
				<thead>
					<tr>
						<th>{{ label_input }}</th>
						<th></th>
					</tr>
				</thead>
				<tbody *ngIf="modelconfiguration?.length != 0">
					<tr *ngFor="let data of modelconfiguration">
						<td>{{ data.name }}</td>
						<td class="table-text-center">{{ data.id }}</td>
					</tr>
				</tbody>
				<tbody *ngIf="modelconfiguration?.length == 0">
					<tr>
						<td colspan="3" class="">No hay datos</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>