<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<h3>{{ title }}</h3>
	<form #formConfigurationModel="ngForm" (ngSubmit)="onSubmit(); formConfigurationModel.reset();" >
		<div class="row">
			<div class="form-group col-sm-12 col-md-3">
				<label for="input_name">{{ label_input }}</label>
				<input type="text" class="form-control" id="input_name" name="input_name" placeholder="{{ label_input }}" #input_name="ngModel" [(ngModel)]="modelconfiguration.name" required />
				<span *ngIf="!input_name.valid && input_name.touched">El campo no puede estar vació.</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-md-2">
				<button type="submit" class="btn btn-primary btn-block" [disabled]="!formConfigurationModel.form.valid" >
					<i class="fas fa-save"></i> Guardar
				</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
			{{ msg }}
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
			{{ msg }}
		</div>
	</div>
</div>
