<div class="container">
	<h3>{{ title }}</h3>
	<div>
		<table datatable class="table table-bordered table-hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Fecha</th>
					<th>Localizacion</th>
					<th>Dispositivo</th>
					<th>IP</th>
				</tr>
			</thead>
			<tbody *ngIf="access?.length != 0">
				<tr *ngFor="let acces of access">
					<td>{{ acces.user }}</td>
					<td>{{ acces.date.date | date : 'dd-MM-y h:mm a' }}</td>
					<td>{{ acces.network }}</td>
					<td>{{ acces.device }}</td>
					<td>{{ acces.adress }}</td>
				</tr>
			</tbody>
			<tbody *ngIf="access?.length == 0">
				<tr>
					<td colspan="3" class="">No hay datos</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>