<div class="container">
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<table datatable class="table table-bordered table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
				<thead>
					<tr>
						<th>Usuario</th>
						<th>Modelo</th>
						<th>Acción</th>
						<th>Fecha</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody *ngIf="actions?.length != 0">
					<tr *ngFor="let action of actions">
						<td>{{ action.user }}</td>
						<td>{{ action.model }}</td>
						<td>{{ action.action }}</td>
						<td>{{ action.date.date | date : 'dd-MM-y h:mm a' }}</td>
						<td>{{ action.description }}</td>
					</tr>
				</tbody>
				<tbody *ngIf="actions?.length == 0">
					<tr>
						<td colspan="3" class="">No hay datos</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>