<div class="container">
	<div class="card bg-light card-shadow">
		<div class="card-body">
			<div class="row">
				<div class="col-xs-12 col-sm-4  text-center ">
            <img [src]="'assets/img/logo_completo2.png'" class="img-fluid" >
				</div>
        <div class="col-xs-12 col-sm-8 text-justify ">
          <p class="text-justify font-about" >
            Es un aplicación Web que permite la gestión de los cursos del programa de actualización docente de la Universidad de loa Andes, facilitando la planificación Académica, Gestión de Inscripción y la Gestión de Consultas y Reportes.
          </p>
          <p>Sistema desarrollado bajo estandares de calidad ISO 9126 y Mccall.</p>
			</div>
		</div>
	</div>
</div>