<header id="header" *ngIf="identity && identity.id != null" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" *ngIf="identity && identity.id != null" [routerLink]="['/']"><img [src]="'assets/img/logo_completo_blank.png'" [alt]="logo_menu" class="" width="" height="40" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" *ngIf="identity && identity.id != null"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sitemap"></i> Planificación académica
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a *ngIf="identity && (identity.rol == 'ROLE_ADMIN' || identity.rol == 'ROLE_USER')" class="dropdown-item" [routerLink]="['/studycontrol/subjects']"><i class="fas fa-book"></i> Módulos</a>
            <a *ngIf="identity && (identity.rol == 'ROLE_ADMIN' || identity.rol == 'ROLE_USER' || identity.rol == 'ROLE_USER_F')" class="dropdown-item" [routerLink]="['/studycontrol/lections']"><i class="fas fa-chalkboard"></i> Clases</a>
            <a *ngIf="identity && (identity.rol == 'ROLE_ADMIN' || identity.rol == 'ROLE_USER')" class="dropdown-item" [routerLink]="['/studycontrol/inscriptions']"><i class="fas fa-folder-open"></i> Cohortes</a>
            <a *ngIf="identity && identity.rol == 'ROLE_USER_S'" class="dropdown-item" [routerLink]="['/studycontrol/cohorts/student']"><i class="fas fa-folder-open"></i> Cursos</a>
            <a *ngIf="identity && identity.rol == 'ROLE_USER_S'" class="dropdown-item" [routerLink]="['/studycontrol/preinscrition/new']"><i class="fas fa-user-plus"></i> Inscribir</a>
            <div *ngIf="identity && (identity.rol == 'ROLE_ADMIN' || identity.rol == 'ROLE_USER')" class="dropdown-divider"></div>
            <a *ngIf="identity && (identity.rol == 'ROLE_ADMIN' || identity.rol == 'ROLE_USER')" class="dropdown-item" [routerLink]="['/studycontrol/facilitators']" ><i class="fas fa-chalkboard-teacher"></i> Facilitadores</a>
            <a *ngIf="identity && (identity.rol == 'ROLE_ADMIN' || identity.rol == 'ROLE_USER')" class="dropdown-item" [routerLink]="['/studycontrol/students']" ><i class="fas fa-user-graduate"></i> Participantes</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="identity && identity.rol == 'ROLE_ADMIN'"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cogs"></i> Configuración
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['configuration/requirementstudents']"><i class="fas fa-tasks"></i> Requisitos de participante</a>
            <a class="dropdown-item" [routerLink]="['configuration/cohorts']"><i class="fas fa-calendar-check"></i> Cursos</a>
            <a class="dropdown-item" [routerLink]="['configuration/classrooms']"><i class="fas fa-door-closed"></i> Aulas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/configuration/days']"><i class="fas fa-calendar-alt"></i> Dias</a>
            <a class="dropdown-item" [routerLink]="['/configuration/classificationsubjects']"><i class="fas fa-list-alt"></i> Clasificación de módulos</a>
            <a class="dropdown-item" [routerLink]="['/configuration/typessubjects']"><i class="fas fa-list-alt"></i> Tipos de módulo</a>
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="identity && identity.rol == 'ROLE_ADMIN'"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-lock"></i> Seguridad
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/users']"><i class="fas fa-users"></i> Usuarios</a>
            <a class="dropdown-item" [routerLink]="['/security/binnacle/actions']"><i class="fas fa-shield-alt"></i> Bitacora de acciones</a>
            <a class="dropdown-item" [routerLink]="['/security/binnacle/access']"><i class="fas fa-shield-alt"></i> Bitacora de accesos</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!identity" >
          <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-sign-in-alt"></i> Acceder</a>
        </li>
        <li class="nav-item dropdown" *ngIf="identity"  >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> {{ identity.login }}
          </a>
          <div class="dropdown-menu dropdown-menu-righ" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/users/profile/edit']"><i class="fas fa-user-cog"></i> Editar</a>
            <a class="dropdown-item" [routerLink]="['/users/profile/password']"><i class="fas fa-user-lock"></i> Cambiar contraseña</a>
            <a class="dropdown-item" [routerLink]="['/logout', 1]"><i class="fas fa-sign-out-alt"></i> Salir</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/about']"><i class="fas fa-info-circle"></i> Acerca de</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>