<div class="background-login">
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
	<div class="card card-signin my-5">
		<div class="card-body">
			<img [src]="'assets/img/logo_completo.png'" [alt]="Logo_Login" class="img-fluid img-margin-bottom" >
			<form #loginForm="ngForm" (ngSubmit)="onSubmit();">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><span aria-hidden="true"><i class="fas fa-user"></i></span></div>
						</div>
						<input type="email" class="form-control" id="login_email" name="login_email" #email="ngModel"
							[(ngModel)]="user.email" placeholder="Correo" required [email]="true"
							[ngClass]="{'is-invalid': email.touched && !email.valid,'is-valid': email.valid}" />						
					</div>
					<div *ngIf="email.touched && !email.valid">
						<div class="invalidtextLogin" *ngIf="email.errors.required">Campo requerido.</div>
						<div class="invalidtextLogin" *ngIf="email.errors.email">Correo invalido.</div>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<div class="input-group-text"><span aria-hidden="true"><i class="fas fa-lock"></i></span></div>
						</div>
						<input type="password" class="form-control" id="login_pw" name="login_pw" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" required [ngClass]="{'is-invalid': password.touched && !password.valid,'is-valid': password.valid}" />
					</div>
					<div *ngIf="password.touched && !password.valid">
						<div class="invalidtextLogin" *ngIf="password.errors.required">Campo requerido.</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid"><i class="fa fa-sign-in-alt"></i>&nbsp;Entrar</button>
					<div class="alert alert-success" role="alert" *ngIf="identity && identity.sub">
						Logueado con éxito! Bienvenido {{ identity.email }}
					</div>
					<div class="alert alert-danger margin-btn-top" role="alert" *ngIf="msgError">
						{{ msg }}
					</div>
				<button type="button" [routerLink]="['../studycontrol/student/new']" class="btn btn-secondary btn-block" ><i class="fa fa-user-plus"></i>&nbsp;Pre-inscripón</button>
			</form>
			<div class="margin-btn-top" *ngIf="loading">
				<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
				<p style="float:left;">&nbsp;&nbsp;Verificando...</p>
			</div>
		</div>
	</div>
</div>
</div>