<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<form #formSubject="ngForm" (ngSubmit)="onSubmit(); formSubject.reset();" >
				<div>
					<div class="row">
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_name">Nombre</label>
							<input type="text" class="form-control" id="input_name" name="input_name" placeholder="Nombre" #input_name="ngModel" [(ngModel)]="subject.name" required  pattern="{{ validationsPatterns.subject }}" [ngClass]="{'is-invalid': input_name.touched && !input_name.valid,'is-valid': input_name.valid}" />
							<div *ngIf="input_name.touched && !input_name.valid">
								<div class="invalidtext" *ngIf="input_name.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_name.errors.pattern">Campo invalido, solo se permite: "_", números y letras.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_classification">Clasificación</label>
							<select name="input_classification" id="input_classification" class="form-control" #input_classification="ngModel" [(ngModel)]="subject.classification" required [ngClass]="{'is-invalid': input_classification.touched && !input_classification.valid,'is-valid': input_classification.valid}" >
								<option *ngFor="let clasification of clasifications" [value]="clasification.value">{{ clasification.text }}</option>
							</select>
							<div *ngIf="input_classification.touched && !input_classification.valid">
								<div class="invalidtext" *ngIf="input_classification.errors.required">Campo requerido.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_type">Tipo</label>
							<select name="input_type" id="input_type" class="form-control" #input_type="ngModel" [(ngModel)]="subject.type" required [ngClass]="{'is-invalid': input_type.touched && !input_type.valid,'is-valid': input_type.valid}" >
								<option *ngFor="let type of types" [value]="type.value">{{ type.text }}</option>
							</select>
							<div *ngIf="input_type.touched && !input_type.valid">
								<div class="invalidtext" *ngIf="input_type.errors.required">Campo requerido.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-6">
							<label for="input_descrip">Descripción</label>
							<textarea name="input_descrip" id="input_descrip" class="form-control" rows="3" #input_descrip="ngModel" [(ngModel)]="subject.description" required [ngClass]="{'is-invalid': input_descrip.touched && !input_descrip.valid,'is-valid': input_descrip.valid}" placeholder="Descripción" ></textarea>
							<div *ngIf="input_descrip.touched && !input_descrip.valid">
								<div class="invalidtext" *ngIf="input_descrip.errors.required">Campo requerido.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!formSubject.form.valid" >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
