<div class="container">
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<div style="margin-bottom: 20px;">
				<a *ngIf="identity.rol == 'ROLE_ADMIN'"  [routerLink]="['/studycontrol/subject/new']" class="btn btn-primary">Registrar</a>
			</div>
			<table datatable class="table table-bordered table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
				<thead>
					<tr>
						<th>Asignatura</th>
						<th>Clasificacion</th>
						<th style="display: none;"></th>
						<th>Tipo</th>
						<th></th>
					</tr>
				</thead>
				<tbody *ngIf="students?.length != 0">
					<tr *ngFor="let subject of subjects">
						<td>{{ subject.name }}</td>
						<td>{{ subject.classification }}</td>
						<td style="display: none;">{{ subject.role }}</td>
						<td>{{ subject.type }}</td>
						<td class="table-text-center">{{ subject.id }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>