<div class="container">
	<h3>{{ title }}</h3>
	<div style="margin-bottom: 20px;">
		<a [routerLink]="['/studycontrol/subject/new']" class="btn btn-primary">Registrar</a>
	</div>
	<div>
		<table datatable class="table table-bordered table-hover table-sm" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>Asignatura</th>
					<th>Clasificacion</th>
					<th>Cohorte</th>
					<th></th>
				</tr>
			</thead>
			<tbody *ngIf="students?.length != 0">
				<tr *ngFor="let subject of subjects">
					<td>{{ subject.name }}</td>
					<td>{{ subject.classification }}</td>
					<td>{{ subject.cohort }}</td>
					<td class="table-text-center">{{ subject.id }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>