<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
			<button class="btn btn-danger float-right" (click)="openModalDelete(templateModelDelete)" >
				<i class="fas fa-trash-alt"></i> Eliminar {{ title }}
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>Editar datos</h3>
		</div>
		<div class="card-body">
			<form #updateForm="ngForm" (ngSubmit)="onSubmit();" >
				<div class="row">
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_code">Codigo</label>
						<input type="text" class="form-control" id="input_code" name="input_code" placeholder="Codigo" #input_code="ngModel" [(ngModel)]="lection.code" required pattern="[A-Z-0-9-]*" [ngClass]="{'is-invalid': input_code.touched && !input_code.valid,'is-valid': input_code.valid}" />
						<div *ngIf="input_code.touched && !input_code.valid">
							<div class="invalidtext" *ngIf="input_code.errors.required">Campo requerido.</div>
							<div class="invalidtext" *ngIf="input_code.errors.pattern">Dato invalido, solo se permite: "-", números y letras mayusculas.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_cohort">Cursos</label>
						<select name="input_cohort" id="input_cohort" class="form-control" #input_cohort="ngModel" [(ngModel)]="lection.cohort" required [ngClass]="{'is-invalid': input_cohort.touched && !input_cohort.valid,'is-valid': input_cohort.valid}" >
							<option *ngFor="let cohort of cohorts" [value]="cohort.value">{{ cohort.text }}</option>
						</select>
						<div *ngIf="input_cohort.touched && !input_cohort.valid">
							<div class="invalidtext" *ngIf="input_cohort.errors.required">Campo requerido.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_subject">módulo</label>
						<select name="input_subject" id="input_subject" class="form-control" #input_subject="ngModel" [(ngModel)]="lection.subject" required [ngClass]="{'is-invalid': input_subject.touched && !input_subject.valid,'is-valid': input_subject.valid}" >
							<option *ngFor="let subject of subjects" [value]="subject.value">{{ subject.text }}</option>
						</select>
						<div *ngIf="input_subject.touched && !input_subject.valid">
							<div class="invalidtext" *ngIf="input_subject.errors.required">Campo requerido.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_classroom">Aula</label>
						<select name="input_classroom" id="input_classroom" class="form-control" #input_classroom="ngModel" [(ngModel)]="lection.classroom" required [ngClass]="{'is-invalid': input_classroom.touched && !input_classroom.valid,'is-valid': input_classroom.valid}" >
							<option *ngFor="let classroom of classrooms" [value]="classroom.value">{{ classroom.text }}</option>
						</select>
						<div *ngIf="input_classroom.touched && !input_classroom.valid">
							<div class="invalidtext" *ngIf="input_classroom.errors.required">Campo requerido.</div>
						</div>
					</div>
					<div class="form-group col-xs-12 col-md-3">
						<label for="input_facilitator">Facilitador</label>
						<select name="input_facilitator" id="input_facilitator" class="form-control" #input_facilitator="ngModel" [(ngModel)]="lection.facilitator" required [ngClass]="{'is-invalid': input_facilitator.touched && !input_facilitator.valid,'is-valid': input_facilitator.valid}" >
							<option *ngFor="let facilitator of facilitators" [value]="facilitator.value">{{ facilitator.text }}</option>
						</select>
						<div *ngIf="input_facilitator.touched && !input_facilitator.valid">
							<div class="invalidtext" *ngIf="input_facilitator.errors.required">Campo requerido.</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block margin-btn-top" [disabled]="!updateForm.form.valid"  >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row margin-body-top"  >
		<div class="col-xs-12 col-md-6">
			<div class="card bg-light card-shadow">
				<div class="card-header">
					<h5>Horario</h5>
				</div>
				<div class="card-body">
					<button type="button" class="btn btn-primary btn-sm" (click)="openModal(template)"><i class="fas fa-plus"></i> Agregar</button>
					<table datatable class="table table-bordered table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
						<thead>
							<tr>
								<th>Día</th>
								<th>Hora</th>
								<th></th>
							</tr>
						</thead>
						<tbody *ngIf="days_class?.length != 0">
							<tr *ngFor="let days_clas of days_class">
								<td>{{ days_clas.day }}</td>
								<td>{{ days_clas.classtime }}</td>
								<td class="table-text-center">{{ days_clas.id }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<ng-template #templateModelDelete>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar {{ title }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			¿Esta seguro que desea eliminar el registro?
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
			<button type="button" class="btn btn-danger" (click)="onDelete();" ><i class="fas fa-trash-alt"></i> Eliminar</button>
		</div>
	</div>
</ng-template>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Agregar horario</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group col-xs-12 col-md-6">
			<label for="input_day">Día</label>
			<select name="input_day" id="input_day" class="form-control" #input_day="ngModel" [(ngModel)]="dayshasclass.id_day" required >
				<option *ngFor="let day of days" [value]="day.value">{{ day.text }}</option>
			</select>
		</div>
		<div class="form-group col-xs-12 col-md-6">
			<label for="input_class_time">Hora de inicio</label>
			<input type="time" class="form-control" id="input_class_time" name="input_class_time" placeholder="Hora de inicio" #input_class_time="ngModel" [(ngModel)]="dayshasclass.class_time" required />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="onSaveClo()"><i class="fas fa-save"></i> Registrar</button>
		<button type="button" class="btn btn-default" (click)="modalRef.hide()">Cerrar</button>
	</div>
</ng-template>

<ng-template #templatedelete>
	<div class="modal-body text-center">
		<h5>¿Esta seguro de eliminar?</h5>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="onDeleteSchedule()"><i class="fas fa-trash"></i> Si</button>
		<button type="button" class="btn btn-default" (click)="modalDelete.hide()"><i class="fas fa-ban"></i> No</button>
	</div>
</ng-template>