<div class="container">
    <div class="row botonera">
        <div class="col">
            <button class="btn btn-primary" (click)="onBack();" >
                <i class="fas fa-arrow-circle-left"></i> Regresar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="card bg-light card-shadow">
                <div class="card-header">
                    <h3>{{ lection.cohort.code }} - {{ lection.subject }}</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-3">
                            <label for="input_facilitator">Facilitador</label>
                            <input type="text" class="form-control" id="input_facilitator" name="input_facilitator" placeholder="Facilitador" #input_facilitator="ngModel" [(ngModel)]="lection.facilitator" disabled />
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            <label for="input_cohort">Curso</label>
                            <input type="text" class="form-control" id="input_cohort" name="input_cohort" placeholder="Codigo" #input_cohort="ngModel" [(ngModel)]="lection.cohort.code" disabled />
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            <label for="input_code">Codigo</label>
                            <input type="text" class="form-control" id="input_code" name="input_code" placeholder="Codigo" #input_code="ngModel" [(ngModel)]="lection.code" disabled />
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            <label for="input_subject">Módulo</label>
                            <input type="text" class="form-control" id="input_subject" name="input_subject" placeholder="módulo" #input_subject="ngModel" [(ngModel)]="lection.subject" disabled />
                        </div>
                        <div class="form-group col-xs-12 col-md-3">
                            <label for="input_classroom">Aula</label>
                            <input type="text" class="form-control" id="input_classroom" name="input_classroom" placeholder="Aula" #input_classroom="ngModel" [(ngModel)]="lection.classroom" disabled />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-md-6">
                            <div class="" *ngIf="loading">
                                <img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
                                <p style="float:left;">&nbsp;&nbsp;Enviando...</p>
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="msgSuccess">
                                {{ msg }}
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="msgError">
                                {{ msg }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-body-top">
        <div class="col-xs-12 col-md-6">
            <div class="card bg-light card-shadow">
                <div class="card-header">
                    <h5>Horario</h5>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-sm bg-white">
                        <thead>
                            <tr>
                                <th>Día</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="days_class?.length != 0">
                            <tr *ngFor="let days_clas of days_class">
                                <td>{{ days_clas.day }}</td>
                                <td>{{ days_clas.classtime }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="card bg-light card-shadow">
                <div class="card-header">
                    <h5>Participantes</h5>
                </div>
                <div class="card-body">
                    <table datatable class="table table-bordered table-hover table-sm bg-white" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cédula</th>
                                <th>Calificación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="inscriptions?.length != 0">
                            <tr *ngFor="let inscription of inscriptions">
                                <td>{{ inscription.name }}</td>
                                <td>{{ inscription.identification }}</td>
                                <td>{{ inscription.qualification }}</td>
                                <td class="table-text-center">{{ inscription.id }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templatequalification>
        <form #formQuialififacion="ngForm" (ngSubmit)="onSaveQuialification(); formQuialififacion.reset();" >
            <div class="modal-header">
                <h4 class="modal-title pull-left">Agregar calificación</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalqualification.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group col-xs-12 col-md-6">
                    <label for="input_calification">Calificación</label>
                    <input type="text" class="form-control" id="input_calification" name="input_calification" placeholder="Calificación" #input_calification="ngModel" [(ngModel)]="qualification.qualification"  required  pattern="{{ validationsPatterns.calification }}" [ngClass]="{'is-invalid': input_calification.touched && !input_calification.valid,'is-valid': input_calification.valid}" />
                    <div *ngIf="input_calification.touched && !input_calification.valid">
                        <div class="invalidtext" *ngIf="input_calification.errors.required">Campo requerido.</div>
                        <div class="invalidtext" *ngIf="input_calification.errors.pattern">Campo invalido, solo se permiten números del 01 al 20.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="!formQuialififacion.form.valid" ><i class="fas fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-default" (click)="modalqualification.hide(); formQuialififacion.reset();"><i class="fas fa-ban"></i> Cerrar</button>
            </div>
        </form>
    </ng-template>