/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@media screen and (min-width: 991px) {
	.dropdown-menu-righ{
		right:0;
		left:auto;
	}
}

.table-text-center {
    text-align: center;
}

table thead {
	background-color: #e3e3e3;

}

.botonera {
	margin-top: 1%;
	margin-bottom: 3%;
}

.margin-btn-top {
	margin-top: 5%;
}

.card-signin {
	background-color: #e6e6e6;
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-shadow {
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
	color: white;
}

.card-signin .card-body {
	padding: 2rem;
}

.card-signin h3 {
	color: black;
}

.margin-body-top {
	margin-top: 2%;
}

.invalidtext {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 80%;
	color: #dc3545;
}

.invalidtextLogin {
	width: 100%;
	margin-top: 0.25rem;
	font-size: 90%;
	color: #dc3545;
	font-weight: bold;
}

