/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@media screen and (min-width: 991px) {
	.dropdown-menu-righ{
		right:0;
		left:auto;
	}
}

.table-text-center {
    text-align: center;
}

table thead {
	background-color: #e3e3e3;

}

.botonera {
	margin-top: 1%;
	margin-bottom: 3%;
}
