<div class="container">
	<h3>Registro de facilitador</h3>
	<form #FormFacilitator="ngForm" (ngSubmit)="onSubmit();" >
		<div>
			<h5>Datos de Personales</h5>
			<div class="row">
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_nombre">Nombre</label>
					<input type="text" class="form-control" id="input_nombre" name="input_nombre" placeholder="Nombre" #input_nombre="ngModel" [(ngModel)]="facilitator.name" required />
					<span *ngIf="!input_nombre.valid && input_nombre.touched">Nombre invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_apellido">Apellido</label>
					<input type="text" class="form-control" id="input_apellido" name="input_apellido" placeholder="Apellido" #input_apellido="ngModel" [(ngModel)]="facilitator.surname" required />
					<span *ngIf="!input_apellido.valid && input_apellido.touched">Apellido invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3" >
					<label for="input_cedula">Cedula</label>
					<input type="text" class="form-control" id="input_cedula" name="input_cedula" placeholder="Nombre" #input_cedula="ngModel" [(ngModel)]="facilitator.identification" required />
					<span *ngIf="!input_cedula.valid && input_cedula.touched">Cedula invalida</span>
				</div>
				<div class="form-group col-xs-12 col-md-3">
					<label for="input_telefono">Teléfono</label>
					<input type="text" class="form-control" id="input_telefono" name="input_telefono" placeholder="Teléfono" #input_telefono="ngModel" [(ngModel)]="facilitator.phone" required />
					<span *ngIf="!input_telefono.valid && input_telefono.touched">Teléfono invalido</span>
				</div>
				<div class="form-group col-xs-12 col-md-3" >
					<label for="input_profession">Profesión</label>
					<input type="text" class="form-control" id="input_profession" name="input_profession" placeholder="Profesión" #input_profession="ngModel" [(ngModel)]="facilitator.profession" required />
					<span *ngIf="!input_profession.valid && input_profession.touched">Profesion invalido</span>
				</div>
			</div>
		</div>
		<div>
			<h5>Datos de Usuario</h5>
			<div class="row">
				<div class="form-group col-sm-12 col-md-3">
					<label for="input_usuario">Usuario</label>
					<input type="text" class="form-control" id="input_usuario" name="input_usuario" placeholder="Usuario" #input_usuario="ngModel" [(ngModel)]="facilitator.login" />
				</div>
				<div class="form-group col-sm-12 col-md-3">
					<label for="input_email">Correo</label>
					<input type="email" class="form-control" id="input_email" name="input_email" placeholder="Correo" #input_email="ngModel" [(ngModel)]="facilitator.email" required />
					<span *ngIf="!input_email.valid && input_email.touched">Email invalido</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-xs-12 col-md-2">
				<button type="submit" class="btn btn-primary btn-block" [disabled]="!FormFacilitator.form.valid" >
					<i class="fas fa-save"></i> Guardar
				</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="alert alert-success" role="alert" *ngIf="status == 'success'" >
			Facilitador registrado exitosamente.
		</div>
		<div class="alert alert-danger" role="alert" *ngIf="status == 'error'" >
			Error al registrar.
		</div>
	</div>
</div>