<div class="card bg-light card-shadow">
    <div class="card-header">
        <h5>{{ title }}</h5>
        <table class="table table-hover table-sm table-responsive bg-white">
            <thead>
                <tr>
                    <th>Cohorte</th>
                    <th>Code</th>
                    <th>módulo</th>
                </tr>
            </thead>
            <tbody *ngIf="subjectfacilitator?.length > 0; else templatenot" >
                <tr *ngFor="let subject of subjectfacilitator" >
                    <td>{{ subject.cohort }}</td>
                    <th>{{ subject.code }}</th>
                    <td>{{ subject.subject }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #templatenot>
    <tbody>
        <tr>
            <th colspan="3">No tiene materias asignadas</th>
        </tr>
    </tbody>
</ng-template>