<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
			<button class="btn btn-danger float-right" (click)="openModalDelete(templateModelDelete)" >
				<i class="fas fa-trash-alt"></i> Eliminar {{ title }}
			</button>
		</div>
	</div>
	<div class="row">
	<div class="col-xs-12 col-md-9">
		<div class="card bg-light card-shadow">
			<div class="card-header">
				<div style="float: left;">
					<h3>Editar datos de {{ title }}</h3>
				</div>
				<div *ngIf="identity.rol == 'ROLE_ADMIN'" class="custom-control custom-switch" style="float: right;">
					<input type="checkbox" class="custom-control-input" [checked]="user.active" id="checkActive" (change)="activeUser(user.active)" >
					<label class="custom-control-label" for="checkActive">Activo</label>
				</div>
			</div>
			<div class="card-body">
				<form #updateFormUser="ngForm" (ngSubmit)="onSubmit();" >
					<div>
						<h5>Datos de Usuario</h5>
						<div class="row">
							<div [ngClass]="{
									'col-md-4': identity.rol == 'ROLE_ADMIN',
									'col-md-3': identity.rol == 'ROLE_USER_S'
								}" class="form-group col-xs-12 ">
								<label for="input_usuario">Usuario</label>
								<input type="text" class="form-control" id="input_usuario" name="input_usuario" placeholder="Usuario" #input_usuario="ngModel" [(ngModel)]="user.login" readonly required  minlength="5" pattern="[a-zA-Z-0-9 _ÿ\u00f1\u00d1]*" [ngClass]="{'is-invalid': input_usuario.touched && !input_usuario.valid,'is-valid': input_usuario.valid}"
								[disabled]="user.active == false" />
								<div *ngIf="input_usuario.touched && !input_usuario.valid">
									<div class="invalidtext" *ngIf="input_usuario.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_usuario.errors.minlength">Minimo 5 caracteres.</div>
									<div class="invalidtext" *ngIf="input_usuario.errors.pattern">Usuario invalido, solo se permite: "_", números y
										letras.</div>
								</div>
							</div>
							<div [ngClass]="{
									'col-md-4': identity.rol == 'ROLE_ADMIN',
									'col-md-3': identity.rol == 'ROLE_USER_S'
								}" class="form-group col-xs-12">
								<label for="input_email">Correo</label>
								<input type="email" class="form-control" name="input_email" placeholder="Correo" #input_email="ngModel" [(ngModel)]="user.email" required pattern="{{ validationsPatterns.email }}" [ngClass]="{'is-invalid': input_email.touched && !input_email.valid,'is-valid': input_email.valid}" />
								<div *ngIf="input_email.touched && !input_email.valid">
									<div class="invalidtext" *ngIf="input_email.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_email.errors.pattern">Formato invalido, ejem: usuario@usuario.com .</div>
								</div>
							</div>
							<div [ngClass]="{
									'col-md-4': identity.rol == 'ROLE_ADMIN',
									'col-md-3': identity.rol == 'ROLE_USER_S'
								}" class="form-group col-xs-12"  *ngIf="identity.rol == 'ROLE_ADMIN'">
								<label for="input_rol">Rol</label>
								<select name="input_rol" id="input_rol" class="form-control" #input_rol="ngModel" [(ngModel)]="user.rol" required [ngClass]="{'is-invalid': input_rol.touched && !input_rol.valid,'is-valid': input_rol.valid}"
								[disabled]="user.active == false" >
									<option *ngFor="let rol of roles" [value]="rol.value">{{ rol.text }}</option>
								</select>
								<div *ngIf="input_rol.touched && !input_rol.valid">
									<div class="invalidtext" *ngIf="input_rol.errors.required">Campo requerido.</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<h5>Datos de Personales</h5>
						<div class="row">
							<div class="form-group col-xs-12 col-md-3">
								<label for="input_nombre">Primer Nombre</label>
								<input type="text" #input_nombre="ngModel" class="form-control" name="input_nombre" placeholder="Primer Nombre"  [(ngModel)]="user.name" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_nombre.touched && !input_nombre.valid,'is-valid': input_nombre.valid}" />
								<div *ngIf="input_nombre.touched && !input_nombre.valid">
									<div class="invalidtext" *ngIf="input_nombre.errors.required" >Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_nombre.errors.minlength" >Minimo 4 caracteres.</div>
									<div class="invalidtext" *ngIf="input_nombre.errors.pattern" >Solo letras<br>Debe tener mayuscula solo al principio.</div>
								</div>
							</div>
							<div class="form-group col-xs-12 col-md-3" *ngIf="user.type == '3'" >
								<label for="input_nombre2">Segundo Nombre</label>
								<input type="text" class="form-control" name="input_nombre2" placeholder="Segundo nombre" #input_nombre2="ngModel" [(ngModel)]="user.name2" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_nombre2.touched && !input_nombre2.valid,'is-valid': input_nombre2.valid}" />
								<div *ngIf="input_nombre2.touched && !input_nombre2.valid">
									<div class="invalidtext" *ngIf="input_nombre2.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_nombre2.errors.minlength">Minimo 4 caracteres.</div>
									<div class="invalidtext" *ngIf="input_nombre2.errors.pattern">Solo letras; Mayuscula al principio.</div>
								</div>
							</div>
							<div class="form-group col-xs-12 col-md-3">
								<label for="input_apellido">Apellido</label>
								<input type="text" class="form-control" name="input_apellido" placeholder="Primer apellido" #input_apellido="ngModel" [(ngModel)]="user.surname" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_apellido.touched && !input_apellido.valid,'is-valid': input_apellido.valid}" />
								<div *ngIf="input_apellido.touched && !input_apellido.valid">
									<div class="invalidtext" *ngIf="input_apellido.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_apellido.errors.minlength">Minimo 4 caracteres.</div>
									<div class="invalidtext" *ngIf="input_apellido.errors.pattern">Solo letras; Mayuscula al principio.</div>
								</div>
							</div>
							<div class="form-group col-xs-12 col-md-3" *ngIf="user.type == '3'" >
								<label for="input_apellido2">Segundo Apellido</label>
								<input type="text" class="form-control" name="input_apellido2" placeholder="Segundo Apellido" #input_apellido2="ngModel" [(ngModel)]="user.surname2" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_apellido2.touched && !input_apellido2.valid,'is-valid': input_apellido2.valid}" />
								<div *ngIf="input_apellido2.touched && !input_apellido2.valid">
									<div class="invalidtext" *ngIf="input_apellido2.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_apellido2.errors.minlength">Minimo 4 caracteres.</div>
									<div class="invalidtext" *ngIf="input_apellido2.errors.pattern">Solo letras; Mayuscula al principio.</div>
								</div>
							</div>
							<div class="form-group col-xs-12 col-md-3" *ngIf="user.type != '1'" >
								<label for="input_cedula">Cedula</label>
								<input type="text" class="form-control" name="input_cedula" placeholder="Cédula" #input_cedula="ngModel" [(ngModel)]="user.identification" required minlength="1" pattern="{{ validationsPatterns.cedula }}" [ngClass]="{'is-invalid': input_cedula.touched && !input_cedula.valid,'is-valid': input_cedula.valid}" />
								<div *ngIf="input_cedula.touched && !input_cedula.valid">
									<div class="invalidtext" *ngIf="input_cedula.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_cedula.errors.minlength">Minimo 1 caracter.</div>
									<div class="invalidtext" *ngIf="input_cedula.errors.pattern">Formato invalido, ejem: 00000000.</div>
								</div>
							</div>
							<div class="form-group col-xs-12 col-md-3">
								<label for="input_telefono">Teléfono</label>
								<input type="text" class="form-control" name="input_telefono" placeholder="Teléfono" #input_telefono="ngModel" [(ngModel)]="user.phone" required pattern="{{ validationsPatterns.phone }}" [ngClass]="{'is-invalid': input_telefono.touched && !input_telefono.valid,'is-valid': input_telefono.valid}" />
								<div *ngIf="input_telefono.touched && !input_telefono.valid">
									<div class="invalidtext" *ngIf="input_telefono.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_telefono.errors.pattern">Formato invalido, ejem: 04142223331.</div>
								</div>
							</div>
							<div class="form-group col-xs-12 col-md-3" *ngIf="user.type == '2'">
								<label for="input_profession">Profesión</label>
								<input type="text" class="form-control" id="input_profession" name="input_profession" placeholder="Nombre" #input_profession="ngModel" [(ngModel)]="user.profession" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_profession.touched && !input_profession.valid,'is-valid': input_profession.valid}" 
								[disabled]="user.active == false" />
								<div *ngIf="input_profession.touched && !input_profession.valid">
									<div class="invalidtext" *ngIf="input_profession.errors.required">Campo requerido.</div>
									<div class="invalidtext" *ngIf="input_profession.errors.minlength">Minimo 4 caracteres.</div>
									<div class="invalidtext" *ngIf="input_profession.errors.pattern">Solo letras; Mayuscula al principio.</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-12 col-md-2">
							<button type="submit" class="btn btn-primary btn-block" [disabled]="!updateFormUser.form.valid" >
								<i class="fas fa-save"></i> Guardar
							</button>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-12 col-md-6">
							<div class="" *ngIf="loading">
								<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
								<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
							</div>
							<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
								{{ msg }}
							</div>
							<div class="alert alert-danger" role="alert" *ngIf="msgError">
								{{ msg }}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div *ngIf="user.type == '2'" class="col-xs-12 col-md-3" >
		<subjects-facilitator></subjects-facilitator>
	</div>
	<div *ngIf="user.type == '3'"class="col-xs-12 col-md-3" >
		<subjects-student></subjects-student>
	</div>
</div>

<ng-template #templateModelDelete>
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar {{ title }}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group col">
				<p>¿Esta seguro que desea eliminar el {{ title }}: {{ user.login }}?</p>
			</div>
			<div class="" *ngIf="loading">
				<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
				<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
			</div>
			<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
				{{ msg }}
			</div>
			<div class="alert alert-danger" role="alert" *ngIf="msgError">
				{{ msg }}
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
			<button type="button" class="btn btn-danger" (click)="onDelete();" ><i class="fas fa-trash-alt"></i> Eliminar</button>
		</div>
	</div>
</ng-template>