<div class="container">
	<div class="row botonera">
		<div class="col">
			<button class="btn btn-primary" (click)="onBack();" >
				<i class="fas fa-arrow-circle-left"></i> Regresar
			</button>
		</div>
	</div>
	<div class="card bg-light card-shadow">
		<div class="card-header">
			<h3>{{ title }}</h3>
		</div>
		<div class="card-body">
			<form #formUser="ngForm" (ngSubmit)="onSubmit(); formUser.reset();" >
				<div>
					<h5>Datos de Usuario</h5>
					<div class="row">
						<div class="form-group col-sm-12 col-md-3">
							<label for="input_usuario">Usuario</label>
							<input type="text" class="form-control" id="input_usuario" name="input_usuario" placeholder="Usuario" #input_usuario="ngModel" [(ngModel)]="user.login" required  minlength="5" pattern="{{ validationsPatterns.user }}" [ngClass]="{'is-invalid': input_usuario.touched && !input_usuario.valid,'is-valid': input_usuario.valid}" />
							<div *ngIf="input_usuario.touched && !input_usuario.valid">
								<div class="invalidtext" *ngIf="input_usuario.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_usuario.errors.minlength">Minimo 5 caracteres.</div>
								<div class="invalidtext" *ngIf="input_usuario.errors.pattern">Usuario invalido, solo se permite: "_", números y
									letras.</div>
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-3">
							<label for="input_password">Contraseña</label>
							<input type="password" class="form-control" name="input_password" placeholder="Contraseña" #input_password="ngModel" [(ngModel)]="user.password" required  minlength="8" pattern="{{ validationsPatterns.password }}" [ngClass]="{'is-invalid': input_password.touched && !input_password.valid,'is-valid': input_password.valid}" />
							<div *ngIf="input_password.touched && !input_password.valid">
								<div class="invalidtext" *ngIf="input_password.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_password.errors.minlength">Minimo 8 caracteres.</div>
								<div class="invalidtext" *ngIf="input_password.errors.pattern">Formato invalido, se requiere: Una letra mayúscula, una letra minúscula, un número y un carácter especial.</div>
							</div>
						</div>
						<div class="form-group col-sm-12 col-md-3">
							<label for="input_email">Correo</label>
							<input type="email" class="form-control" name="input_email" placeholder="Correo" #input_email="ngModel" [(ngModel)]="user.email" required pattern="{{ validationsPatterns.email }}" [ngClass]="{'is-invalid': input_email.touched && !input_email.valid,'is-valid': input_email.valid}" />
							<div *ngIf="input_email.touched && !input_email.valid">
								<div class="invalidtext" *ngIf="input_email.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_email.errors.pattern">Formato invalido, ejem: usuario@usuario.com .</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_rol">Rol</label>
							<select name="input_rol" id="input_rol" class="form-control" #input_rol="ngModel" [(ngModel)]="user.rol" required [ngClass]="{'is-invalid': input_rol.touched && !input_rol.valid,'is-valid': input_rol.valid}" >
								<option value="">Seleccione</option>
								<option value="ROLE_USER">Usuario</option>
								<option value="ROLE_ADMIN">Administrador</option>
							</select>
							<div *ngIf="input_rol.touched && !input_rol.valid">
								<div class="invalidtext" *ngIf="input_rol.errors.required">Campo requerido.</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<h5>Datos de Personales</h5>
					<div class="row">
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_nombre">Nombre</label>
							<input type="text" #input_nombre="ngModel" class="form-control" name="input_nombre" placeholder="Nombre"  [(ngModel)]="user.name" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_nombre.touched && !input_nombre.valid,'is-valid': input_nombre.valid}" />
							<div *ngIf="input_nombre.touched && !input_nombre.valid">
								<div class="invalidtext" *ngIf="input_nombre.errors.required" >Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_nombre.errors.minlength" >Minimo 4 caracteres.</div>
								<div class="invalidtext" *ngIf="input_nombre.errors.pattern" >Solo letras<br>Debe tener mayuscula solo al principio.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_apellido">Apellido</label>
							<input type="text" class="form-control" name="input_apellido" placeholder="Primer apellido" #input_apellido="ngModel" [(ngModel)]="user.surname" required minlength="4" pattern="{{ validationsPatterns.text }}" [ngClass]="{'is-invalid': input_apellido.touched && !input_apellido.valid,'is-valid': input_apellido.valid}" />
							<div *ngIf="input_apellido.touched && !input_apellido.valid">
								<div class="invalidtext" *ngIf="input_apellido.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_apellido.errors.minlength">Minimo 4 caracteres.</div>
								<div class="invalidtext" *ngIf="input_apellido.errors.pattern">Solo letras; Mayuscula al principio.</div>
							</div>
						</div>
						<div class="form-group col-xs-12 col-md-3">
							<label for="input_telefono">Teléfono</label>
							<input type="text" class="form-control" name="input_telefono" placeholder="Teléfono" #input_telefono="ngModel" [(ngModel)]="user.phone" required pattern="{{ validationsPatterns.phone }}" [ngClass]="{'is-invalid': input_telefono.touched && !input_telefono.valid,'is-valid': input_telefono.valid}" />
							<div *ngIf="input_telefono.touched && !input_telefono.valid">
								<div class="invalidtext" *ngIf="input_telefono.errors.required">Campo requerido.</div>
								<div class="invalidtext" *ngIf="input_telefono.errors.pattern">Formato invalido, ejem: 04142223331.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-2">
						<button type="submit" class="btn btn-primary btn-block" [disabled]="!formUser.form.valid" >
							<i class="fas fa-save"></i> Guardar
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-xs-12 col-md-6">
						<div class="" *ngIf="loading">
							<img style="float:left;" [src]="'assets/img/loading2.gif'" [alt]="loader" width="30" height="30">
							<p style="float:left;">&nbsp;&nbsp;Enviando...</p>
						</div>
						<div class="alert alert-success" role="alert" *ngIf="msgSuccess">
							{{ msg }}
						</div>
						<div class="alert alert-danger" role="alert" *ngIf="msgError">
							{{ msg }}
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
